
<% provide(:title, "Help") %>

<h1>Help</h1>
<p>
  To follow guides on the Ruby on Rails
  <a href="https://guides.rubyonrails.org/">Rails Guides page</a>.
  To get help from the community, see the
  <a href="https://discuss.rubyonrails.org/"><em>Ruby on Rails Discussions</em></a>.
</p>